html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #0366d6;
  text-decoration: none;
}

button {
  border-radius: 5px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0.2rem;
  padding: 0.6rem 1.2rem;
}

button:enabled {
  color: #0366d6;
}

input[type="text"] {
  height: 2.2rem;
}

.cols {
  display: flex;
  flex-direction: row;
}

.cols.center {
  justify-content: center;
}

.cols.space-between {
  justify-content: space-between;
}

.App {
  max-width: 480px;
  margin: 0 auto;
}
